<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>proyect</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    
    <link th:href="@{bootstrap.css}" rel="stylesheet" href="../static/bootstrap.css">
    <script th:src="@{jquery.min.js}" src="../static/jquery-3.5.1.min.js"></script>
    <script th:src="@{bootstrap.js}" src="../static/bootstrap.js"></script>

</head>
<body>
	<section class="container">
		<div class="row">
		<h3 class="center-align">Registro</h3>
			<article class="col s6 offset-s3">
				<form th:object=${usuariomodelo} th:action=@{/usuario/saveUsuarioModelo}  method="post">
					<div class="input-field">
						<i class="material-icons prefix">perm_identity</i>
						<label for="nombre">Nombre</label>
						<input th:field="*{nombre}" type="text" name="nombre" required value="">
					</div>
					<div class="input-field">
						<i class="material-icons prefix">perm_identity</i>
						<label for="apellido">Apellido</label>
						<input th:field="*{apellido}" type="text" name="apellido" required value="" >
					</div>

					<div class="input-field">
						<i class="material-icons prefix">person_pin</i>
						<label for="nombreusuario">Usuario</label>
						<input th:field="*{nombreusuario}" type="text" name="nombre" required value="" maxlength="10">
					</div>
					
					<div class="input-field">
						<i class="material-icons prefix">note</i>
						<label for="dni">DNI</label>
						<input th:field="*{dni}" type="text" name="dni" required  value="" size="10" maxlength="9">
					</div>

					<div class="input-field">
						<i class="material-icons prefix">mode_edit</i>
						<label for="password">Contraseña</label>
						<input th:field="*{password}"  type="password" name="password" value="" maxlength="10" />
					</div>
					
					<p class="center-align">
						<button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>enviar</button>
					</p>

				</form>

			</article>
		</div>
	</section>
	
</body>
</html>