<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>proyect</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="./favicon.ico">

    <link th:href="@{bootstrap.css}" rel="stylesheet" href="../static/bootstrap.css">
    <script th:src="@{jquery.min.js}" src="../static/jquery-3.5.1.min.js"></script>
    <script th:src="@{bootstrap.js}" src="../static/bootstrap.js"></script>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


	<form th:object=${habitacion} th:action=@{/habitacion/saveHabitacion} method="post">
	    <div class="form-group"> 
	        <label for="full_name_id" class="control-label">Detalles de habitacion</label>
	        <input th:field="*{detallesHab}" type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Escriba los detalles de la habitacion">
	    </div>    
	
	    <div class="form-group"> 
	        <label for="street1_id" class="control-label">Numero de habitacion</label>
	        <input th:field="*{numHab}" type="number" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o">
	    </div>                    
	                            
	    <div class="form-group">
	        <label for="street2_id" class="control-label">Costo</label>
	        <input th:field="*{costo}" type="number" class="form-control" id="street2_id" name="street2" placeholder="costo">
	    </div>    
	
	    <div class="form-group">
	        <label for="city_id" class="control-label">Disponibilidad</label>
	        <input th:field="*{disponibilidad}"  type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
	    </div>                                    
	 	<div class="form-group">
	        <label for="city_id" class="control-label">Tipo de habitacion</label>
	        <input th:field="*{tipo}"  type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
	    </div> 
	    <div class="form-group"> <!-- Submit Button -->
	        <button type="submit" class="btn btn-primary">Buy!</button>
	    </div>     
    
	</form>
    

</body>

</html>